<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
</div>
<div class="container">
  <div class="row">
    <div class="cell ctop cleft">{{cell1}}</div>
    <div class="cell ctop">{{cell2}}</div>
    <div class="cell ctop cright">{{cell3}}</div>
  </div>
  <div class="row">
    <div class="cell cleft">{{cell4}}</div>
    <div class="cell">{{cell5}}</div>
    <div class="cell cright">{{cell6}}</div>
  </div>
  <div class="row">
    <div class="cell cbottom cleft">{{cell7}}</div>
    <div class="cell cbottom">{{cell8}}</div>
    <div class="cell cbottom cright">{{cell9}}</div>
  </div>
</div>
